@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.examIp {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
/* home */

.miniBox {
  text-decoration: none !important;
  transition: 0.5s !important;
}
.miniBox:hover {
  box-shadow: 5px 5px 20px black !important;
}

/* form */

.backBtn {
  background-color: maroon !important;
  position: absolute !important;
  right: 2rem !important;
  color: white !important;
  text-decoration: none !important;
  padding: 0.5rem 1rem 0.5rem 1rem !important;
  border-radius: 0.3rem !important;
  cursor: pointer !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.formstyle {
  box-shadow: 0px 5px 10px gray !important;
  padding: 1rem 3rem 1rem 3rem;
  margin-top: 1rem;
}

.font {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-optical-sizing: auto !important;
  font-size: 2rem !important;
  color: "maroon" !important;
  overflow-x: "auto" !important;
}

@media (max-width: 520px) {
  .font {
    font-size: 1.3rem !important;
  }
}
